$color-pale: #cec8ff;
$color-nav: orangered;
$color-modal: orangered;
$color-nav-word: rgb(4, 4, 167);
$color-h2: rgb(4, 4, 167);

$h1-font: 'Righteous', cursive;
$h2-font: 'Krona One', sans-serif;
$p-font: 'Lato', sans-serif;

h1, h3{
    font-family: $h1-font;
}

h2, h4{
    font-family: $h2-font;
}

p,{
    font-family: $p-font;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #170569, #0b22a5, #050455);
  color: white;
}

.jumbotron {
  h1,
  h2 {
    color: orangered;
  }
}

.site-footer {
  background-image: linear-gradient($color-pale, white);
  padding: 20px 0;
}

.navbar {
  background-color: $color-nav;
  color: $color-nav-word;
}

#loginModal {
  .modal-header {
    background-color: $color-modal;
    color: white;
  }
}

#sellModal {
  .modal-header {
    background-color: $color-modal;
    color: white;
  }
}

.modal-header {
    background-color: $color-modal;
    color: white;
}

#suv1Modal,
#suv2Modal,
#suv3Modal,
#suv4Modal,
#suv5Modal,
#su6vModal,
#suv7Modal,
#suv8Modal,
#suv9Modal,
#suv10Modal,
#suv11Modal,
#suv12Modal {
  .modal-header {
    background-color: $color-modal;
    color: white;
  }
}

.range-caption1 {
  background-color: red;
  color: white;
  padding: 6px;
  text-align: center;
}

.range-caption2 {
  background-color: green;
  color: white;
  padding: 6px;
  text-align: center;
}

@media only screen and (max-device-width: 1024px) {
  .bg-1,
  .bg-2,
  .bg-3 {
    background-attachment: scroll;
  }
}

.bg-1,
.bg-2,
.bg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.bg-1 {
  background-image: url(https://images.unsplash.com/photo-1476820865390-c52aeebb9891?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.bg-2 {
  background-image: url(https://images.unsplash.com/photo-1501459522532-9f67219c9c7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.bg-3 {
  background-image: url(https://images.unsplash.com/photo-1440098334316-9b3afb87b5fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.carousel-indicators {
  width: 100px;
  height: 100px;
  margin: 0;
  border: none;
  border-radius: 0;
}

.btn1 {
  background-color: $color-nav;
  color: white;
  font-weight: 10px;
}

.btn2 {
  background-color: $color-nav-word;
  color: white;
  font-weight: 10px;
}

h2 {
  color: $color-h2;
}
